/*- Custom style -*/

// -- Put custom style under this point -- //


#mc_embed_signup div.mce_inline_error {
margin: 0px;
padding: 0px;
background-color: transparent;
font-weight: 400;
font-size: 13px;
z-index: 999;
color: red;
}
#mce-error-response{
margin: 0px;
padding: 0px;
background-color: transparent;
font-weight: 400;
font-size: 13px;
z-index: 999;
color: red;
}
#mce-success-response{
margin: 0px;
padding: 0px;
background-color: transparent;
font-weight: 400;
font-size: 13px;
z-index: 999;
color: green;
}

 #posts li {
	padding: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid black;
    }

    span.heroart {
    font-size: 0.7em;
    color: #9e9e9e;
    }

    li p span.heroart {
    display: none;

    }

    time.by-line {
    font-size: 0.7em;
    }

form {
  flex-direction: column;
  align-items: left;
}

form input[type="email"] {
  padding: 9px 0px 10px 30px;
  margin: 10px 0;
  font-size: 1em;
  width: 80%;
  max-width: 200px;
  border-radius: 7px 0px 0px 7px;
  border-color: black;
    border-width: thin;
    font-family:"Manrope", sans-serif;
}

form button {
  padding: 13px 20px 12px 20px;
  font-size: 1em;
  color: #fff;
  background: black;
  border: none;
  cursor: pointer;
  margin: -7px;
  border-radius: 0px 7px 7px 0px;
}

form button:hover {
  background: #555;
}

#post-page time.by-line {
  margin: 10px 0px;
  font-family:"Manrope", sans-serif;
}