/*- Custom style -*/

// -- Put custom style under this point -- //




 #posts li {
	padding: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid black;
    }

    span.heroart {
    font-size: 0.7em;
    color: #9e9e9e;
    }

    li p span.heroart {
    display: none;

    }

    time.by-line {
    font-size: 0.7em;
    }

form {
  flex-direction: column;
  align-items: left;
}

form input[type="email"] {
  padding: 11px;
  margin: 10px 0;
  font-size: 1em;
  width: 80%;
  max-width: 300px;
  border-radius: 7px 0px 0px 7px;
  border-color: black;
    border-width: thin;
}

form button {
  padding: 12px 20px;
  font-size: 1em;
  color: #fff;
  background: #FFC700;
  border: none;
  cursor: pointer;
  margin: -7px;
  border-radius: 0px 7px 7px 0px;
}

form button:hover {
  background: #555;
}