/*- Custom style -*/

// -- Put custom style under this point -- //




 #posts li {
	padding: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid black;
    }

    span.heroart {
    font-size: 0.7em;
    color: #9e9e9e;
    }

    li p span.heroart {
    display: none;

    }

    time.by-line {
    font-size: 0.7em;
    }