<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	<div id="wrap">
	  	
	  	<!-- Navigation -->
	  	{% include menu.html %}
    
    <!-- Icon menu -->
	  <a {% if site.reverse == true %}id="nav-menu-left"{% else %}id="nav-menu"{% endif %}>
	  	<div id="menu"></div>
	  </a>

      <!-- Header -->
      {% if site.custom_header == true %}
        {% include header-custom.html %}
      {% else %}
        {% include header.html %}
      {% endif %}

    <!-- Main content -->
    <div id="container">
    <div id="intro" style="
    margin: 30% 0% 20% 5%;
">
    <h4>HEY, I'M JESSE.</h4>
<h1>THIS IS WHERE I POST MY BEST THOUGHTS.</h1><section class="subscribe">
      <h2>Join my email list</h2>
      <p>Let's face it, blogs are way easier to consume via email. Don't worry, I'll never spam you.</p>
      <form action="https://example.com/subscribe" method="POST">
        <input type="email" name="email" placeholder="Enter your email">
        <button type="submit">Subscribe</button>
      </form>
    </section>
</div>

</div>
	  <div id="container">
		  
		<main>

			{{ content }}

	  </main>
		
		  <!-- Pagination links -->
      {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page == 1 %}
            <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
          {% elsif paginator.previous_page%}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
          {% else %}
            <span class="page-item">&laquo;</span>
          {% endif %}
        
          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <span class="page-item">{{ page }}</span>
            {% elsif page == 1 %}
              <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="page-item">{{ page }}</a>
            {% endif %}
          {% endfor %}
        
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&raquo;</a>
          {% else %}
            <span class="page-item">&raquo;</span>
          {% endif %}
        </div>
        {% endif %}

	  </div>
	    
	    <!-- Footer -->
	    {% include footer.html %}

	    <!-- Script -->
      {% include script.html %}

	</div>
</body>
</html>
